# only include example config file
*.ini
!sflyaddbook.ini

# ignore output files
*.csv
*.xlsx
*.pdf

# ignore virtual environment
/venv

# ignore PowerPoint file used to generate .png image
sfly_config.pptx